{% extends "spirit/_base.html" %}

{% load spirit_tags i18n %}
{% load userprofile %} <!--ADDED -->
{% load static %} 

{% block title %}{% trans "Comment history" %}{% endblock %}

{% block content %}

    {# todo: add nav bar #}

    <h3 class="headline">{% trans "Comment history" %}</h3>

    <div class="comments">

        {% for c in comments %}
            <div class="comment">

                <div class="comment-media">
                    <div class="comment-img">
                        <!-- ADDED -->
						{% with c.comment_fk.user.userprofile.profile_image as profile_image %}
							{% if profile_image %}
								<img src="{{ profile_image.thumbnail.url }}" class="navbar-profile-image img-circle"
								 alt="{% trans 'Profile image' %}" title="{{ request.user.userprofile.full_name }}">
							 {% else %}
								<img src="{% static 'images/platform_icons/user_top_menu-blue.svg' %}" class="navbar-profile-image img-circle"
								alt="{% trans 'Profile image' %}" title="{{ request.user.userprofile.full_name }}">
							{% endif %}								
						{% endwith %}
						<!-- ADDED ENDS -->
                    </div>

                    <div class="comment-body">
                        <div class="comment-info">

                            <div class="comment-username">
                                <a href="{{ c.comment_fk.user.st.get_absolute_url }}">{{ c.comment_fk.user.username }}</a>
                            </div>

                            <ul class="comment-date">
                                <li title="{{ c.date }}">{{ c.date|shortnaturaltime }}</li>
                            </ul>

                        </div>

                        <div class="comment-text">
                            {{ c.comment_html|safe }}
                        </div>
                    </div>
                </div>

			</div>
        {% endfor %}

    </div>

    {% render_paginator comments %}


    <script>

	$( document ).ready(function() {

        hljs.initHighlightingOnLoad();

        $('.comment-text').comment_diff();

	});

	</script>

{% endblock %}
